{{> header}}
<body>
    
    {{> navbar}}
  <div class="container">
      {{> page_title }}
      <h3>{{screamIt  welcomeMessage }}</h3>
      <p> {{> placeholder_text}}</p>

      {{> footer}}
  </div>     
  {{>bottom_js}}
</body>
</html>